<p id="notice"><%= notice %></p>

<p>
  <strong>Fabricante:</strong>
  <%= @representante.fabricante %>
</p>

<%= link_to 'Edit', edit_representante_path(@representante) %> |
<%= link_to 'Back', representantes_path %>
